.header {
    text-align: center;
    background-color: navy;
    color: white;
    margin: 0;
    padding: 0;
}
li.list-item{
    margin: .5em
;
}
ul {
    list-style-type: none;
}
div#fiveday {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.forecast-card {
    background-color: navy;
    color: white;
    justify-content: center;
    text-align: center;
        
}